<!-- start custom footer snippets -->

<script data-ad-client="ca-pub-6851688096646201" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6851688096646201"
     data-ad-slot="1945373380"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- end custom footer snippets -->