<!-- start custom head snippets -->

<!-- Latex -->
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        config: ["MMLorHTML.js"],
        extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
        jax: ["input/TeX"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: false
        },
        TeX: {
            TagSide: "right",
            TagIndent: ".8em",
            MultLineWidth: "85%",
            equationNumbers: {
               autoNumber: "AMS",
            },
            unicode: {
               fonts: "STIXGeneral,'Arial Unicode MS'"
            }
        },
        "HTML-CSS": {
            scale: 80,
        },
        showProcessingMessages: false
    });
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/my_photo.jpg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/my_photo.jpg">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/my_photo.jpg">
<link rel="manifest" href="/assets/favicon/manifest.json">
<link rel="mask-icon" href="/assets/images/my_photo.jpg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/my_photo.jpg">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->